<div class="row">
<div class="container col-4">
	<div class="card card-widget widget-user shadow">
      <div class="widget-user-header bg-dark">
        <h3 class="widget-user-username">XXX</h3>
        <h5 class="widget-user-desc">ZZZZ</h5>
      </div>
      <div class="widget-user-image">
     
      	<span class="brand-image img-circle elevation-2 d-flex justify-content-center align-items-center bg-primary text-white font-weight-500" style="width: 90px;height:90px"><h4></h4></span>
      
        <img class="img-circle elevation-2" src="../../../assets/uploads/1605918720_avatar2.png" alt="User Avatar"  style="width: 90px;height:90px;object-fit: cover">

      </div>
      <div class="card-footer">
        <div class="container-fluid">
        	<dl>
        		<dt>Role</dt>
        		<dd>XXXX</dd>
        	</dl>
        </div>
    </div>
	</div>
</div>
<div class="col-8 container">
	<div class="card card-widget widget-user shadow">

	</div>
</div>
</div>
<div class="modal-footer display p-0 m-0">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
</div>
<style>
	#uni_modal .modal-footer{
		display: none
	}
	#uni_modal .modal-footer.display{
		display: flex
	}
</style>